<button class="openbtn" (click)="openNavbar();">&#9776;</button>

<div id="myNavbar" class="navbar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNavbar();">&times;</a>
    <!-- <button class="closebtn" (click)="closeNavbar()">&times;</button> -->
    <ul>
        <li class="allFriends">
            <a  (click)="getAllFeeds()" href="#"><p>AllFriends</p> </a>
        </li><hr>
        <ul *ngFor="let user of users; index as i">
        <li>
            <a (click)="getUser(i)" routerLink="" href="#">
                <img src="{{user.avatar_url}}">
                <p>{{user.firstname}} {{user.lastname}}</p>
            </a>
        </li>
        </ul>
    </ul>
</div>



