<div class="navbar">
    <ul>
        <li>
            <a href="#">AllFriends</a>
        </li><hr>
        <li>
            <a routerLink="/user" href="#">
                <img src="https://images.pexels.com/photos/4646215/pexels-photo-4646215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <p>Morty</p>
            </a>
        </li>
        <li>
            <a href="#">Rick</a>
        </li>
        <li>
            <a href="#">Sponge</a>
        </li>
        <li>
            <a href="#">Ninja</a>
        </li>
        <li>
            <a href="#">Patrick</a>
        </li>
    </ul>
</div>