.flex-container {
	display: flex;
}

/* navbar */
.nav {
	width: 20%;
}

/* feeds */
.all-feeds {
	width: 78.8%;
	margin-left: 1em;
	padding: 0 2em;
}

/* random user details */
.user-details {
	justify-content: space-between;
	padding: 0.5em 0.9em;
	background: #D2DBEE;
	border-radius: 2em;
	margin-bottom: 2em;
	box-shadow: inset 9.91px 9.91px 15px #BFC7D9, inset -9.91px -9.91px 15px #E5EFFF;
}

.user-details img {
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
}

.user-details p {
	font-weight: 600;
}

/* image alert */
.feed-alert {
	border-radius: 1em;
	margin-bottom: 2em;
	background: #cbd6ec;
    box-shadow: 9.91px 9.91px 15px #BFC7D9, -9.91px -9.91px 15px #BFC7D9;
}

.feed-alert:hover {
	box-shadow: 3px 3px 13px #a7adbb, -3px -3px 13px #a7adbb;
}

.headline {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em;
}

.image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	height: 20em;
	width: 35em;
}

.reaction {
	display: flex;
	align-items: center;
}

/* comment section */
.container {
	max-width: 30rem;
	margin: 1.8rem auto;
	background: rgb(158, 158, 158);
	border-radius: 0.5rem;
	padding: 1.8rem;
}

.comment {
	display: block;
}

.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 0.3rem 0.6rem;
	height: 50%;
	border-radius: 0.3rem;
	margin-top: 1rem 0;
}

button {
	background: #8d9bbb;
	color: #fff;
	padding: 0.3rem 0.6rem;
	border: none;
	margin: 0 0.4rem 0 0 ;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background: #999999;
}

/* comment alert */
.comment {
	padding: 0.1em 1em;
	font-style: italic;
}
 

@media screen and (max-width: 843px) {
	body {
		overflow-x: hidden;
	}

	.flex-container {
		display: block;
	}

	.nav {
		width: 100%;
		height: 60vh;
		margin-bottom: 1em;
	}

	.all-feeds {
		margin: 0;
		width: 100%;
	}

	img {
		height: auto;
		width: 100%;
	}

	.headline {
		display: block;
		padding: 0.7rem;
	}

	.container {
		max-width: 17rem;
	}
}