<div class="feedsSection flex-container">
    <!-- start navbar section -->
    <div class="nav">
        <app-navbar (userId)="setUserId($event)" (getUserFeeds)="getFeeds()"></app-navbar>
    </div>
    <!-- end navbar -->

    <!-- start all feeds section -->
    <div class="all-feeds">
        <div *ngIf="randomUser" class="user-details flex">
            <p>Welcome back <i>{{randomUser.firstname}}</i>!!!</p>
            <img  src="{{randomUser.avatar_url}}">
        </div>
        
        <div *ngFor="let feed of feeds; index as i" class="allFeeds">
            <!--  start images section-->
            <div *ngIf="feed.hasOwnProperty('image_url')" class="feed-alert">
                <div class="headline">
                    <p>{{feed.subject}} {{feed.action}} {{feed.pronoun}} {{feed.object}}</p>
                    <p>{{feed.date | date: "dd/MM/yyyy 'at' h:mma"}}</p>
                </div>
                <div class="image-container">
                    <img src="{{feed.image_url}}">
                    <div class="reaction">
                        <div class="reaction">
                            <p  (click)="like(i)"><i class='bx bx-like bx-sm bx-tada-hover'></i></p>
                            <p>{{feed.likes.length}}</p>
                        </div>

                        <div class="reaction">
                            <p (click)="toggleComment(i)" style="margin-right: 0.2em; margin-left: 0.7em;"><i class='bx bx-comment bx-sm'></i></p>
                            <p>{{feed.comments.length}}</p>
                        </div>
                    </div>
                   
        
                    <!-- start comment section-->
                        <div *ngIf="isShown" class="comment-section container">
                            <div class="row">
                                <div class="col-6">
                                    <div  *ngFor="let comment of feed.comments" class="comment"> 
                                        <p><span class="emphasize">{{comment.commentor}}</span>: {{comment.comment}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <textarea [(ngModel)] = "comment" type="text" class="input" placeholder="Write a comment"></textarea>
                                    <button (click)="getComment(i)" class="float-right" type="submit"><i class='bx bx-paper-plane bx-tada-hover bx-sm'></i></button>
                                </div>
                            </div>
                        </div>
                    <!-- end comment section-->
                </div>
            </div>
            <!-- end of image -->

            <!-- alert for showing comment activity -->
            <div *ngIf="feed.hasOwnProperty('message')" class="feed-alert">
                <div class="headline">
                    <p>{{feed.subject}} {{feed.action}} {{feed.pronoun}} {{feed.object}}</p>
                    <p>{{feed.date | date: "dd/MM/yyyy 'at' h:mma"}}</p>
                </div>
                <div class="comment">
                    <p>{{feed.message}}</p>
                </div>
            </div>
            <!-- end of comment -->

            <!-- alert for showing like activity -->
            <div *ngIf="feed.hasOwnProperty('context')" class="feed-alert">
                <div class="headline ">
                    <p>{{feed.subject}} {{feed.action}} {{feed.pronoun}} {{feed.object}}</p>
                    <p>{{feed.date | date: "dd/MM/yyyy 'at' h:mma"}}</p>
                </div>
            </div>
            <!-- end of like -->
        </div>
    </div>
    <!-- end all feeds -->
</div>