<div class="feedsSection">
    <div class="nav">
        <app-navbar (userId)="setUserId($event)" (getUserFeeds)="getFeeds()"></app-navbar>
    </div>

    <div class="all-feeds">
        <h6 class="center">All feeds alert</h6>
        <p *ngIf="randomUser">{{randomUser.firstname}}</p>
        <!-- <p>{{userId}}</p> -->
        <img *ngIf="randomUser" src="{{randomUser.avatar_url}}" style="height: 1.5rem; width: 1.5rem;">
        <div *ngFor="let feed of feeds; index as i" class="allFeeds">
            <!-- images -->
            <div *ngIf="feed.hasOwnProperty('image_url')" class="feed-alert">
                <div class="headline">
                    <p>{{feed.subject}} {{feed.action}} {{feed.pronoun}} {{feed.object}}</p>
                    <p>{{feed.date | date: "dd/MM/yyyy 'at' h:mma"}}</p>
                </div>
                <div class="image-container">
                    <img src="{{feed.image_url}}">
                    <div class="reaction">
                        <div class="reaction">
                            <p style="margin-right: 0.2em;" (click)="like(i)"><i class='bx bx-like bx-sm'></i></p>
                            <p>{{feed.likes.length}}</p>
                        </div>

                        <div class="reaction">
                            <p style="margin-right: 0.2em; margin-left: 0.7em;"><i class='bx bx-comment bx-sm'></i></p>
                            <p>{{feed.comments.length}}</p>
                        </div>
                    </div>
        
                    <!-- start -->
                    <section id="app">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div  class="comment">
                                        <p>{{feed.comments}}</p>
                                        <p *ngFor="let trial of trials">{{trial.trial }}</p>
                                    </div>
                                    <!--End Comment-->
                                </div>
                                <!--End col -->
                            </div><!-- End row -->
                            <div class="row">
                                <div class="col-6">
                                    <textarea [(ngModel)] = "comment" type="text" class="input" placeholder="Write a comment"></textarea>
                                    <button (click)="getComment(i)" class='primaryContained float-right' type="submit">Add Comment</button>
                                </div><!-- End col -->
                            </div>
                            <!--End Row -->
                        </div>
                        <!--End Container -->
                    </section><!-- end App -->
                    <!-- end -->
                </div>
            </div>
            <!-- end of image -->

            <!-- alert for showing comment activity -->
            <div *ngIf="feed.hasOwnProperty('message')" class="feed-alert">
                <div class="headline">
                    <p>{{feed.subject}} {{feed.action}} {{feed.pronoun}} {{feed.object}}</p>
                    <p>{{feed.date | date: "dd/MM/yyyy 'at' h:mma"}}</p>
                </div>
                <div class="comment">
                    <p>{{feed.message}}</p>
                </div>
            </div>
            <!-- end of comment -->

            <!-- alert for showing like activity -->
            <div *ngIf="feed.hasOwnProperty('context')" class="feed-alert">
                <div class="headline ">
                    <p>{{feed.subject}} {{feed.action}} {{feed.pronoun}} {{feed.object}}</p>
                    <p>{{feed.date | date: "dd/MM/yyyy 'at' h:mma"}}</p>
                </div>
            </div>
            <!-- end of like -->
        </div>
    </div>
</div>