/* You can add global styles to this file, and also import other style files */

body {
    overflow-x: hidden;
    background: #D2DBEE;
}
* {
    box-sizing: border-box;
}

.center {
    text-align: center;
    font-size: large;
    text-decoration: underline;
}

.textCenter {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
}



