<div *ngFor="let image of images" class="feed-alert">
    <div class="headline">
        <p>{{image.subject}} {{image.action}} a new {{image.object}}</p>
        <p>{{image.date | date: "dd/MM/yyyy 'at' h:mma"}}</p>
    </div>
    <div class="image-container">
        <img src="{{image.image_url}}">
        <div class="reaction">
            <div class="reaction">
                <p (click)="likeButtonClick()" style="margin-right: 0.2em;"><i class='bx bx-like bx-sm'></i></p>
                <p>{{numberOfLikes}}</p>
            </div>

            <div class="reaction">
                <p style="margin-right: 0.2em; margin-left: 0.7em;"><i class='bx bx-comment bx-sm'></i></p>
                <p>{{image.comments.length}}</p>
            </div>
        </div>
    </div>
</div><br><hr><br>
